* {
    margin: 0;
    padding: 0;
}
#top {
    background-color:aliceblue;
}
body {
    background-color: rgb(255, 250, 182);
}
#hh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3vh;
}
#search {
    position: absolute;
    top: 9%;
    right: 1%;
}
nav {
    text-align: center;
    background-color: #000000;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #07daff;
    background-color: #b44242;
}
#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #000000;
}
#fh1 {
    color: aliceblue;
}
#fp1 {
    color: aliceblue;
}
#fp2 {
    color: aliceblue;
}
#left {
    text-align: center;
    width: 619;
    margin: auto;
    position: absolute;
    left: 1%;
}
#right {
    text-align: center;
    width: 619;
    margin: auto;
    position: absolute;
    top: 705px;
    right: 5%;
}
.mySlides {
    display:none
}